body {
  margin: 0;
  height: 800px;
  background-color: aliceblue;
}

#root {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: wrap;   
}


